/**
 * All of the CSS for your admin-specific functionality should be included in this file.
 */

.classify-comments-content form label {
    width: 300px;
    display: inline-block;
}

.classify-comments-content table td {
    border: 1px solid grey;
    margin: 0px;
    padding: 0px;
}

.classify-comments-content table th {
    border: 1px solid grey;
    margin: 0px;
    padding: 0px;
}